
{% extends 'attendance/base.html' %}
{% load static %}
{% block content %}

<div class='total_num_main'>
  <div class="t_container_one">
    <img src="{% static 'images/group.png' %}" />
    <h3>Total Students: <span>{{ num_students }}</span></h3>
  </div>
  <div class='t_container_two'>
    <li>
      <img src="{% static 'images/cpu.png' %}" />
      <p>ECE: <span>{{ num_branch_ece }}</span></p>
    </li>
    <li>
      <img src="{% static 'images/science.png' %}" />
      <p>CSE: <span>{{ num_branch_cse }}</span></p>
    </li>
    <li>
      <img src="{% static 'images/intelligence.png' %}" />
      <p>ISE: <span>{{ num_branch_ise }}</span></p>
    </li>
    <li>
      <img src="{% static 'images/construction.png' %}" />
      <p>MECH: <span>{{ num_branch_mech }}</span></p>
    </li>
    <li>
      <img src="{% static 'images/engineers.png' %}" />
      <p>CIVIL: <span>{{ num_branch_civil }}</span></p>
    </li>
  </div>
</div>

<div class="container_chart">
  <canvas id="studentChart"></canvas>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Student counts
    var maleCount = {{  num_gender_male }};
    var femaleCount = {{  num_gender_female }};
    var others = {{  num_gender_others }}
  
    // Get the canvas element and create the chart context
    var canvas = document.getElementById('studentChart');
    var ctx = canvas.getContext('2d');
  
    // Create the bar chart
    var chart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: ['Male', 'Female', 'Others'],
        datasets: [{
          label: 'Student Count',
          data: [maleCount, femaleCount, others],
          backgroundColor: ['#68daff', '#ff5faf', '#512d0e'],
          borderColor: ['rgba(54, 162, 235, 1)', 'rgba(255, 99, 132, 1)', '#ffc100'],
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  });
  
</script>
{% endblock %}
