{% extends 'attendance/base.html' %}
{% block content %}
  <h1>Attendance by Month</h1>
  <div class='attendance_take'>
  <form method="post" class='main_form'>
    {% csrf_token %}
    <li>
    <label for="start_date">Start Date:</label>
    <input type="date" name="start_date" id="start_date" />
    </li>
    <li>
    <label for="end_date">End Date:</label>
    <input type="date" name="end_date" id="end_date" />
    </li>
    <li>
    <label for="semister">Semister:</label>
    <select id="semister" name="semister">
      <option value="">--Select Branch--</option>
      <option value="1SEM">1st sem</option>
      <option value="2SEM">2nd sem</option>
      <option value="3SEM">3rd sem</option>
      <option value="4SEM">4th sem</option>
      <option value="5SEM">5th sem</option>
      <option value="6SEM">6th sem</option>
      <option value="7SEM">7th sem</option>
      <option value="8SEM">8th sem</option>
    </select>
  </li>
  <li>
    <label for="academic_year">Academic Year:</label>
      <select id="academic_year" name="academic_year">
        <option value="">--Select Academic year--</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
        <option value="2020">2020</option>
        <option value="2021">2021</option>
        <option value="2022">2022</option>
        <option value="2023">2023</option>
        <option value="2024">2024</option>
        <option value="2025">2025</option>
        <option value="2026">2026</option>
        <option value="2027">2027</option>
      </select>
    </li>
    <li>
      <label for="branch">Branch:</label>
      <select id="branch" name="branch">
        <option value="">--Select Branch--</option>
        <option value="ECE">ECE</option>
        <option value="CSE">CSE</option>
        <option value="ISE">ISE</option>
        <option value="MECH">MECH</option>
        <option value="CIVIL">CIVIL</option>
      </select>
    </li>
    <li>
      <label for="section">Section:</label>
      <select id="section" name="section">
        <option value="">--Select section--</option>
        <option value="A">A section</option>
        <option value="B">B section</option>
        <option value="C">C section</option>
        <option value="D">D section</option>
        <option value="E">E section</option>
      </select>
    </li>
    <li>
    <label for="subject_code">Subject code:</label>
    <input type="text" name="subject_code" id="subject_code" />
    </li>
    <li>
    <button type="submit">Get</button>
    </li>
  </form>
</div>
  {% if attendances %}
    <h2>Attendance between {{ start_date }} and {{ end_date }} for {{ subject_code }}</h2>
  <div class='table_main'>
    <table>
      <tr>
        <th>USN</th>
      </tr>
      {% for attendance in roll_num %}
      <tr>
        <td>{{ attendance.roll_number }}</td>
      </tr>
      {% endfor %}
    </table>
    <table>
      <tr>
        <th>Student</th>
        <th>No of Absents</th>
        <th>No of Presents</th>
        <th>Total Percentage</th>
      </tr>
      {% for i in student_data %}
      <tr>
        <td>{{ i.name }}</td>
        <td>{{ i.num_absents }}</td>
        <td>{{ i.num_presents }}</td>
        <td>{{ i.formatted_percentage }}%</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  <p><a href="/">Back home</a></p>
{% endblock %}
