/* Global Styles */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  table {
    width: auto;
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f5f5f5;
  }
  
  td:first-child {
    font-weight: bold;
  }
  
  form {
    margin-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="text"], select {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  select {
    height: 40px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  a {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #146917;
    font-weight: bold;
    text-decoration: none;
  }
  
  hr {
    border: none;
    height: 1px;
    background-color: #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  
  /* Specific Styles */
  #branch {
    margin-right: 20px;
  }
  
  input[type="checkbox"] {
    margin-left: 10px;
  }
  
  label[for="subject_code"] {
    margin-right: 20px;
  }
  
  label[for="session"] {
    margin-right: 20px;
  }
  /* ///////////////////////////////////mine///////////////////////////////// */
  .student_num {
    display: flex;
    width: 100%;
    overflow-x: scroll;
  }
  .student_num div p {
    width: 140px;
    padding: 20px;
    border-radius: 10px;
    line-height: 30px;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .student_num div p span {
    padding: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 50%;
    background-color: #fff;
  }
  details {
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: fit-content;
    border-radius: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .attendance_take {
    display: flex;
  }
  .erro_msg {
    background: #fd9090;
    padding: 10px;
    border-left: 5px solid red;
    border-radius: 5px 0px 0px 5px;
  }
  .links_download {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .links_download a {
    padding: 10px;
    background: palegreen;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    width: fit-content;
  }
  #datee, #start_date, #end_date {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 320px;
}
.register_btn button {
  padding: 5px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.register_btn a {
  margin: auto;
  padding: 10px;
}
.table_main {
  display: flex;
  gap: 10px;
}
.class_data {
  display: grid;
}
.status_datas {
  display: flex;
}
.status_datas p {
  margin: 5px;
}
.present_data {
  padding: 5px 10px;
  background-color: #146917;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}
.absent_data {
  padding: 5px 10px;
  background-color: #a40000;
  border-radius: 50%;
  color: #fff;
  font-weight: 500;
}
tbody {
  display: table;
}
  /* Responsive Styles */
  @media only screen and (max-width: 600px) {
    input[type="text"], select {
      width: 270px;
    }
    .attendance_take {
      flex-direction: column;
    }
    
    button[type="submit"] {
      width: 100%;
    }
    
    label[for="subject_code"], label[for="session"] {
      margin-right: 0;
    }
  }
  